html {
 background: #f0f0f0;
}

body {
  background: #f0f0f0;
  color: #59554E;
}

h1, h2, h3 {
  color: #59554E;
}

#logo {
  padding-left: 0.9375em;
}

header {
  padding-top: 10px;
  padding-bottom: 20px;
}

footer {
  &.panel {
    border: none;
  }
}

.body {
  ul {
    margin-left: 3em;
  }
}

aside {
  h2 {
    &.block-title {
      font-size: 1em;
      text-transform: uppercase;
    }
  }
  .block {
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 10px;
    p {
      font-size: .85em;
      }
  }
}

.l-featured {
  &.row {
    margin-bottom: 20px;
  }
}

.view-banner {
  img {
    border-bottom: 1px solid #ffffff;
  }
}

#main-menu-links {
  text-transform: uppercase;
  float: right;
  li {
    a.active {
      color: #59554E;
      border-bottom: 2px solid #59554E;
    }
  }
}

/** News Listing **/
.main {
  .view {
    .views-row {
      clear: both;
      padding-top: 20px;
      margin-bottom: 20px;
      border-top: 1px solid #b3b3b3;
      .thumbnail {
        img {
          float: left;
          margin: 8px 30px 25px 0;
        }
      }
    }
    .views-row-first {
      border-top: none;
      padding-top: 0;
    }
  }
} 




/** Partners Block **/

.block.partners {
  img {
    margin: 10px 0;
  }
  .row-partners {
    margin-left: auto;
    margin-right: auto;
    img {
      float: left;
      margin-bottom: 20px;
      width: 110px;
    }
  }
  .fusd {
    width: 250px;
    margin: 12px 0 5px;
  }
  .fcoe {
    margin-right: 35px;
  }
  
}

/** Donate Block **/
.donate {
  p {
    font-size: .85em;
  }
  .agc-title {
    font-size: 1.5em;
    line-height: 1.7em;
  }
  #donate_now {
    line-height: 0;
    margin: 0;
  }
}